<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Beesbook live</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="typeplate.css">
<link rel="stylesheet" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"><!--
updateImage = function(id, src) {
    var imgElement = document.getElementById(id);
    imgElement.src = src + '?rand=' + Math.random();
}
{% for section in sections %}
{% for tab in section.tabs %}
{% for row in tab.rows %}
{% for img in row.images %}
setInterval(function() { return updateImage('{{ img.id }}', '{{ img.src }}'); }, {{ img.reload_interval }});
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
//--></script>
</head>
<body> 
<h2 class="smallcaps">Beesbook live</h2>

{% for section in sections %}
{% if section.header is not none %}
    <h3>{{ section.header }}</h3>
{% endif %}
<div class="container-fluid">
    <ul class="nav nav-justified">
        {% for tab in section.tabs %}
        <li class="{{ tab.li_class_extras }} capitalize"><a data-toggle="tab" href="#{{ tab.name }}">{{ tab.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for tab in section.tabs %}
        <div id="{{ tab.name }}" class="tab-pane fade {{ tab.div_class_extras }}">
        {% for row in tab.rows %}
            <div class="row">
                <div class="center">
                {% for col in row.images %}
                    <div class="{{ section.grid_class }} center-block">
                        {% if col.header is not none %}
                        <h5>{{ col.header }}</h5>
                        {% endif %}
                        <a href="{{ col.src }}"><img id="{{ col.id }}" src="{{ col.src }}" alt="{{ col.alt }}" style="width:100%;height:auto;"></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<p></p>
{% endfor %}
<div class="footer">
<h6>Last updated: {{ last_updated }}</h6>
</div>
</body>
</html>
